@font-face { 
  font-family: SpaceMono;
  src: url("../font/SpaceMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

:root {
  font-family: 'SpaceMono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
