@font-face { 
  font-family: SpaceMono;
  src: url("../font/SpaceMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

:root {
  font-family: 'SpaceMono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: hsl(186, 14%, 43%);
    letter-spacing: 5px;
    margin: 40px;
    
}
.main_board {
    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.form {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    
}
.result {
    background-color: hsl(183, 100%, 15%);
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-sizing: border-box;

    padding: 20px;
}

.label_and_input {
    width: auto;
    border: 1px solid black;
}
label {
    color: hsl(186, 14%, 43%);
}
input {
    background-color: hsl(189, 41%, 97%);
    border: none;
    width:fit-content;

    padding: 10px;
    
}


@media screen and (min-width: 600px) {
    /* qualquer alteracao para telemovel */
}


